'use strict';

customElements.define('compodoc-menu', class extends HTMLElement {
    constructor() {
        super();
        this.isNormalMode = this.getAttribute('mode') === 'normal';
        this.packages = %PACKAGES%;
    }

    connectedCallback() {
        this.render(this.isNormalMode, this.packages);
    }

    render(isNormalMode, packages) {
        let tp = lithtml.html(`
        <nav>
            <ul class="list">
                <li class="title">
                    {{#if customLogo}}
                    <a href="index.html" data-type="index-link">
                        <img alt="" class="img-responsive" data-type="custom-logo" data-src="{{strip-url "images/" customLogo}}">
                    </a>
                    {{else}}
                    <a href="index.html" data-type="index-link">{{documentationMainName}}</a>
                    {{/if}}
                </li>

                <li class="divider"></li>
                ${ isNormalMode ? `{{#unless disableSearch}}{{> search-input }}{{/unless}}` : '' }
                <li class="chapter">
                    <a data-type="chapter-link" href="index.html"><span class="icon ion-ios-home"></span>{{t "getting-started"
                        }}</a>
                    <ul class="links">
                        {{#if readme}}
                        <li class="link">
                            <a href="overview.html" data-type="chapter-link">
                                <span class="icon ion-ios-keypad"></span>{{t "overview" }}
                            </a>
                        </li>
                        <li class="link">
                            <a href="index.html" data-type="chapter-link">
                                <span class="icon ion-ios-paper"></span>{{t "readme" }}
                            </a>
                        </li>
                        {{else}}
                        <li class="link">
                            <a href="index.html" data-type="chapter-link">
                                <span class="icon ion-ios-keypad"></span>{{t "overview" }}
                            </a>
                        </li>
                        {{/if}}
                        {{#each markdowns}}
                        <li class="link">
                            {{#compare name "!==" 'readme'}}
                            <a href="{{name}}.html" {{else}} <a href="index.html" {{/compare}} data-type="chapter-link">
                                <span class="icon ion-ios-paper"></span>{{uppername}}
                            </a>
                        </li>
                        {{/each}}
                        {{#unless disableDependencies}}
                            {{#orLength packageDependencies packagePeerDependencies}}
                                <li class="link">
                                    <a href="dependencies.html" data-type="chapter-link">
                                        <span class="icon ion-ios-list"></span>{{t "dependencies" }}
                                    </a>
                                </li>
                            {{/orLength}}
                        {{/unless}}
                        {{#unless disableProperties}}
                            {{#orLength packageProperties}}
                                <li class="link">
                                    <a href="properties.html" data-type="chapter-link">
                                        <span class="icon ion-ios-apps"></span>{{t "properties" }}
                                    </a>
                                </li>
                            {{/orLength}}
                        {{/unless}}
                    </ul>
                </li>
                {{#if additionalPages}}
                    <li class="chapter additional">
                        <div class="simple menu-toggler" data-bs-toggle="collapse" ${ isNormalMode ? 'data-bs-target="#additional-pages"'
                            : 'data-bs-target="#xs-additional-pages"' }>
                            <span class="icon ion-ios-book"></span>
                            <span>{{includesName}}</span>
                            <span class="icon {{#isNotToggle 'additionalPages'}}ion-ios-arrow-up{{else}}ion-ios-arrow-down{{/isNotToggle}}"></span>
                        </div>
                        <ul class="links collapse {{#isNotToggle 'additionalPages'}}in{{/isNotToggle}}" ${ isNormalMode ? 'id="additional-pages"' : 'id="xs-additional-pages"' }>
                            {{#each additionalPages}}
                                {{#compare children.length ">" 0 }}
                                    {{#compare depth "===" 1 }}
                                    <li class="chapter inner">
                                        <a data-type="chapter-link" href="{{path}}/{{filename}}.html" data-context-id="additional">
                                            <div class="menu-toggler linked" data-bs-toggle="collapse" ${ isNormalMode ?
                                            'data-bs-target="#additional-page-{{id}}"' : 'data-bs-target="#xs-additional-page-{{id}}"' }>
                                                <span class="link-name">{{ name }}</span>
                                                <span class="icon ion-ios-arrow-down"></span>
                                            </div>
                                        </a>
                                        <ul class="links collapse" ${ isNormalMode ? 'id="additional-page-{{id}}"' : 'id="xs-additional-page-{{id}}"' }>
                                            {{#each children}}
                                            <li class="link {{#compare depth ">" 1 }}for-chapter{{depth}}{{/compare}}">
                                                <a href="{{path}}/{{filename}}.html" data-type="entity-link" data-context="sub-entity" data-context-id="additional">{{ name }}</a>
                                            </li>
                                            {{/each}}
                                        </ul>
                                    </li>
                                    {{/compare}}
                                {{else}}
                                    <li class="link {{#compare depth ">" 1 }}for-chapter{{depth}}{{/compare}}">
                                        <a href="{{path}}/{{filename}}.html" data-type="entity-link" data-context-id="additional">{{ name }}</a>
                                    </li>
                                {{/compare}}
                            {{/each}}
                        </ul>
                    </li>
                {{/if}}
                ${packages.length > 0
                  ? `<li class="chapter package">
                      <div class="simple menu-toggler" data-bs-toggle="collapse" ${ isNormalMode ? 'data-bs-target="#package-pages"'
                        : 'data-bs-target="#xs-package-pages"' }>
                        <span class="icon ion-ios-book"></span>
                        <span>Packages</span>
                        <span class="icon {{#isNotToggle 'packagePages'}}ion-ios-arrow-up{{else}}ion-ios-arrow-down{{/isNotToggle}}"></span>
                      </div>
                      <ul class="links collapse {{#isNotToggle 'packagePages'}}in{{/isNotToggle}}" ${ isNormalMode ? 'id="package-pages"' : 'id="xs-package-pages"' }>
                        ${packages.map((p) => `<li class="link">
                            <a href="./${p.path}/index.html" data-type="index-link">${p.name}</a>
                          </li>`).join('')}
                      </ul>
                    </li>`
                  : ''
                }
            </ul>
        </nav>
        `);
        this.innerHTML = tp.strings;
    }
});
